*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: azure;
    padding: 25px;
    box-shadow: 0px 5px 15px black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
body{
    background-color: black;
}
.texto-informativo{
    color: #fff;
}
.formulario{
    background-color: #fff;
    padding-bottom: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navegacao{
    margin-top: 10px;
}
.navegacao button{
    width: 100%;
    border: none;
}
#textouser{
    width: 50%;
    height: 60px;
}
.divisores{
    gap: 5px;
}
.divisores button{
    width: 100%;
    height: 50px;
}
.botoes{
    gap: 5px;
    margin-top: 5px;
}
.botoes button{
    width: 100%;
    height: 50px;
}
#botao-excluir img{
    width: 100%;
    height: 100%;
}
#botao-nove{
    width: 38%;
}
#botao-zero{
    width: 38%;
}
.botao-calcular{
    width: 90%;
}
.cards{
    height: 100px;
    border:1px solid black;
}
.cabecalho-jogo-da-velha{
    height: 100%;
    color: #fff;
}